.App {
    .app-title {
        padding: 0 10px 20px;
        font-size: 1.4rem;
        text-align: center;
    
        @include media-breakpoint-up(sm) {
            font-size: 2.5rem;
            text-align: left;
        }
    }

    FOOTER {
        text-align: center;
    }
}