.calendar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    text-align: center;
    
    .overlay {
        position: absolute;
        background: rgba(0, 0, 0, 0.7);
        height: 100%;
        width: 100%;
        z-index: 2;
    }

    .content {
        display: inline-block;
        position: relative;
        background: $white;
        z-index: 2;
    }

    .hour-and-minute {
        color: #fff;
        font-size: 1.8rem;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}