.Date {
    text-align: center;
    cursor: pointer;

    &:hover {
        background: darken(#fff, 5%);
    }

    @include media-breakpoint-up(sm) {
        text-align: right;
    }
}

.react-datepicker-wrapper {
    display: block;

    .react-datepicker__input-container {
        display: block;
    }
}