.HourAndMinute {
    text-align: center;
    height: 51px;
    font-size: 1.25rem;

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    @include media-breakpoint-up(sm) {
    }
}