.Meeting {
    padding: 1.25rem;

    .meeting-time-edit {
        padding: 25px 15px 15px;
    
        .btn {
            color: $brand-info;
        }
    
        .btn-return {
            text-align: right;
        }
    
        label {
            margin: 0;
            text-align: left;
        }
    
        @include media-breakpoint-up(sm) {
            padding: 0 35px 0 0;
        }
    }

    .worktime-box {
        padding-top: 10px;
    }
}