.source-control {
    text-align: center;
    
    &.idle {
        box-shadow: none;

        &:hover, &:focus {
        }
    }

    @include media-breakpoint-up(sm) {
        text-align: left;
    }
}