.source-control {
    text-align: center;
    
    &.idle {
        background: lighten($body-bg, 5%);
        box-shadow: none;

        &:hover, &:focus {
            background: rgba(0,0,0,0.16);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset, 0 1px rgba(255, 255, 255, 0.06);
        }
    }

    @include media-breakpoint-up(sm) {
        text-align: left;
    }
}