.time-display { 
    text-align: center;
    padding: 15px 0 5px;
    line-height: 1.1;

    &:hover {
        background: rgba(0,0,0,0.16);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset, 0 1px rgba(255, 255, 255, 0.06);
        border-radius: 3px;
        transition: background-color .2s;
    }

    .hour-and-minute {
        color: #fff;
        font-size: 1.6rem;
    }

    .time {
        .fa {
            vertical-align: top;
            margin-top: 8px;
            margin-right: 5px;
        }
    }

    .date {
        font-size: 0.8rem;
    }

    .box {
        display: inline-block;
        cursor: pointer;
    }

    .box-config {
        position: absolute;
        right: -1px;
        bottom: -16px;
        border-top-left-radius: 7px;
        background: #141619;

        .btn {
            padding: 0.15rem 0.20rem 0 0.28rem;
            color: lighten($body-bg, 25%);
        }
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    @include media-breakpoint-up(sm) {
        text-align: right;
        padding: 4px 0 6px;
        margin-right: 1.25rem;

        .box {
            padding-right: 20px;
        }
    }
}